@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou');

.root, .popup {
    -fx-font-family: "ZCOOL QingKe HuangYou", "Microsoft JhengHei", san-serif;
}

.button {
    -fx-cursor: hand;
}

.icon {
    -fx-fill: white;
}