.song-select-page .song-select-title {
    -fx-font-size: 72px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 0px 0px 25px 0px;
}

.song-select-page .headers-region {
    -fx-pref-height: 60px;
}

.song-select-page .tab-header-background {
    -fx-background-color: transparent;
}

.song-select-page .tab {
    -fx-pref-height: 60px;
    -fx-background-color: transparent;
    -fx-padding: 0px 30px 20px 0px;
    -fx-cursor: hand;
}

.song-select-page .tab-container {
    -fx-border-color: transparent;
    -fx-padding: 0px 0px 0px 0px;
    transition: -fx-border-color 500ms;
    transition: -fx-padding 500ms;
}

.song-select-page .focus-indicator {
    -fx-border-width: 0px;
    -fx-opacity: 0;
    visibility: false;
}

.song-select-page .tab:selected .tab-container {
    -fx-border-color: #FFF;
    -fx-padding: 0px 0px 15px 0px;
    -fx-border-width: 0px 0px 2px 0px;
}

.song-select-page .tab-label {
    -fx-font-size: 20px;
    -fx-text-fill: #888;
}

.song-select-page .tab:selected .tab-label {
    -fx-text-fill: #FFF;
}

.song-select-page .scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.song-select-page .scroll-pane {
   -fx-background-color: transparent;
}

.song-select-page .scroll-pane .thumb {
   -fx-background-color: rgba(60, 60, 60, 0.5);
}

.song-select-page .scroll-pane .scroll-bar:vertical, .scroll-bar:horizontal, .corner {
   -fx-background-color: transparent;
}

.song-select-page .scroll-pane .increment-button, .decrement-button {
   -fx-opacity: 0;
}