.song-item-card {
    -fx-cursor: hand;
    -fx-background-color: rgba(60, 60, 60, 0.5);
}

.song-item-card .song-item {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 20, 0.2, 10, 10);
}

.song-item-card .song-item:hover {
    -fx-border-width: 1px;
    -fx-border-color: white;
}

.song-item-card .song-info {
    -fx-padding: 10px 20px 10px 20px;
}

.song-item-card .song-name {
    -fx-font-size: 30px;
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
    -fx-padding: 0px 0px 10px 0px;
}

.song-item-card .song-author {
    -fx-font-size: 18px;
    -fx-text-fill: #AAA;
}

.song-item-card .song-length {
    -fx-font-size: 16px;
    -fx-text-fill: #AAA;
}

.song-item-card .control {
    -fx-padding: 0px 20px 0px 0px;
}